<<<<<<< HEAD

#head { background-color: aquamarine; width: 400px; text-align: center;}
=======

#head { background-color: aquamarine; width: 400px; text-align: center;}
>>>>>>> 3027304470293039800d0d6cfe95cedb542d13df
li { height: 30px;}