#greeting {
    color: red;
    background-color: aqua;
    position: absolute;
    top: 0%;left: 0%;
    height: 50px; width: 1000px;
    padding: (20 0 0 20);
}
table { border: 1px black solid;
    
    width: 1000px;
}
tr {
    width: 300px;
    background-color: beige;
    text-align: center
}


#big {
    position: fixed;
    background-color: antiquewhite;
    left: 30px;
    top:30px;
    width: 300px;
    height: 300px;
    
}
#small { 
    position: absolute;
    background-color: aqua;
    right: 0%;
    bottom: 0;
    width:30px;
    height: 30px;
}
.sticky{
    position: sticky;
    background-color: brown;
    width: 30px;
    height: 30px;
}
#word p{
    width: 300px;
    height: auto;
    overflow: scroll;
    background-color: antiquewhite;
}
img{
    opacity: 0.5;
    width: fit-content;
    height: fit-content;
}